<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
	TEST
{% endblock %}
{% block style %}
	<style type="text/css">
		background: #000000;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	</style>
{% endblock %}
{% block content %}
	<table>
		<thead>
			<th>RANK</th>
			<th>NAME</th>
			<th>MATCHES</th>
			<th>POINTS</th>
			<th>RATING</th>
		</thead>
		{% if key %}
			{% for x in key %}
				<tr>
					<td>{{ x.rank }}</td>
					<td>{{ x.name }}</td>
					<td>{{ x.matches }}</td>
					<td>{{ x.points }}</td>
					<td>{{ x.rating }}</td>
				</tr>
			{% endfor %}
		{% else %}
			<tr>
				<td>NO RECORDS</td>
			</tr>
		{% endif %}
	</table>
{% endblock %}